.header{
    background: rgba(22 34 16 / 0.8);
    backdrop-filter: var(--blur-md);
    border-bottom: 1px solid var(--border-white-10);
}

.header__logo{
    font-size: var(--icon-md);
    letter-spacing: var(--letter-spacing-normal);
}

.header__nav-link{
    font-size: var(--font-sm);
    font-weight: var(--font-medium);
    letter-spacing: var(--letter-spacing-wider);
    color: var(--text-white-80);
    padding: var(--space-2) var(--space-3);
}

.header__menu-toggle{
    display: none;
}

/* Button */
.button{
    display: inline-flex;
    gap: var(--space-2);
    align-items: center;
    color: var(--background-dark);
    font-weight: var(--font-semibold);
    transform: scale(1);
    padding-inline: var(--space-6);
}

.button--circle{
    border-radius: var(--radius-full);
}

.button--square{
    border-radius: var(--radius-lg);
}

.button--sm{
    font-size: var(--font-sm);
    height: var(--button-height-sm);
}

.button--md{
    font-size: var(--font-base);
    height: var(--button-height-lg);
}

.button--primary{
    background-color: var(--primary);
    box-shadow: var(--shadow-glow-sm);
    transition: var(--transition-all);
    transform: scale(1);
}

.button--primary:hover{
    box-shadow: var(--shadow-glow-md);
    transform: scale(1.05);
}

.button--secondary{
    background-color: var(--white-05);
    border: 1px solid var(--border-white-30);
    color: var(--text-white);
    transition: var(--transition-all);
    backdrop-filter: var(--blur-md);
}

.button--secondary:hover{
    background-color: var(--white-10);
    border-color: var(--border-primary-50);
}

.button--primary .material-symbols-rounded{
    font-size: var(--icon-xl);
}

.button .material-symbols-rounded, .button--secondary .material-symbols-rounded{
    font-size: var(--icon-md);
    transition: var(--transition-transform);
    transform: translate(0);
}

.button--secondary:hover .material-symbols-rounded, .button:hover .material-symbols-rounded{
    transform: translateX(0.25rem);
}

/* Badge */
.badge{
    display: inline-flex;
    align-items: center;
    gap: var(--space-2);
    padding: var(--badge-padding-y) var(--badge-padding-x);
    font-size: var(--font-xs);
    font-weight: var(--font-semibold);
    line-height: 1rem;
    letter-spacing: var(--letter-spacing-wide);
}

.badge--primary{
    background-color: var(--white-05);
    color: var(--primary);
    border-radius: var(--radius-full);
    text-transform: uppercase;
}

.badge--primary-square{
    border-radius: var(--radius-sm);
}

.badge--primary, .badge--primary-square{
    border: 1px solid var(--border-white-20);
    backdrop-filter: var(--blur-md);
}

.badge--primary::before{
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--primary);
    border-radius: var(--radius-full);
}

/* Hero Section */
.hero__background-image{
    position: absolute;
    inset: 0;
    background-image: url(../images/image-hero-home.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__background-overlay-hz, .hero__background-overlay-vt{
    position: absolute;
    inset: 0;
    z-index: var(--z-overlay);
}

.hero__background-overlay-hz{
    background: var(--gradient-dark-horizontal);
}

.hero__background-overlay-vt{
    background: var(--gradient-dark-vertical);
}

.hero__title span{
    color: var(--primary);
}

.hero__description{
    font-family: var(--font-body);
    font-size: var(--font-xl);
    line-height: var(--line-height-tight);
    max-width: 36rem;
}

.hero__stats-item strong{
    font-size: var(--font-2xl);
    font-weight: var(--font-bold);
    color: var(--text-white);
}

.hero__stats-item span{
    font-size: var(--font-sm);
    color: var(--text-white-50);
    font-weight: var(--font-semibold);
}

/* ==================== BOOKING FORM ==================== */
.form-group__wrapper{
    display: flex;
    align-items: center;
    padding: var(--space-2) var(--space-3);
    background-color: var(--white-05);
    border-radius: var(--space-3);
    gap: var(--space-2);
    cursor: pointer;
}

.form-group__wrapper .material-symbols-rounded{
    color: var(--primary);
}

.form__group label{
    font-size: var(--font-xs);
    font-weight: var(--font-bold);
    color: var(--text-white-40);
    text-transform: uppercase;
}


/* ==================== BENEFITS ==================== */
.section-header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: var(--space-6);
}

.section-header__content{
    max-width: var(--container-max-width-sm);
}

.section-header__title{
    margin-bottom: var(--space-4);
    letter-spacing: -0.025em;
}

.section-header__title span{
    color: var(--primary);
}

.section-header__description{
    font-size: var(--font-lg);
    color: var(--text-white-60);
}

.section-header__link{
    color: var(--primary);
    white-space: nowrap;
    padding-inline: 0;
}

.section-header__link .material-symbols-rounded{
    font-size: var(--font-2xl);
}

.section-header__link:hover{
    color: var(--text-white);
}

/* ===== CARD ===== */
.card{
    padding: var(--space-8);
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    background-color: var(--surface-dark);
    border: 1px solid var(--border-white-05);
    border-radius: var(--radius-2xl);
    position: relative;
    transition: var(--transition-all);
    overflow: hidden;
}

.card::after {
    content: "";
    position: absolute;
    top: -40%;
    right: -30%;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle,
        var(--primary-10) 0%,
        var(--primary-10) 30%,
        var(--primary-10) 50%,
        transparent 100%);
    filter: blur(64px);
    pointer-events: none;
}

.card:hover{
    border-color: var(--border-primary-50);
}

.card:hover::after{
    background: radial-gradient(circle,
        var(--primary-10) 0%,
        var(--primary-10) 30%,
        var(--primary-30) 50%,
        transparent 70%);
}

.card__icon{
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-05);
    border-radius: var(--radius-xl);
    color: var(--primary);
}

.card:hover .card__icon{
    background-color: var(--primary);
    color: var(--background-dark);
}

.card__icon span{
    font-size: var(--font-3xl);
}

.card__text{
    color: var(--text-white-60);
}
