.container{
    margin-inline: auto;
    padding-inline: var(--padding-container-desktop);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-header);
    padding: var(--header-padding-y) var(--header-padding-x-desktop);
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-list{
    display: flex;
    gap: var(--space-6);
}

/* ==================== HERO SECTION ==================== */
.hero{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.hero__inner{
    position: absolute;
    inset: 0;
}

.hero__background{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: var(--z-background);
}

.hero__layout{
    position: relative;
    z-index: var(--z-default);
    max-width: 100%;
    height: 100%;
    padding-top: var(--header-height);
}

.hero__content{
    height: 100%;
    max-width: 55rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--space-6);
}

.hero__actions{
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-4);
    margin-top: var(--space-4);
}

.hero__stats{
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--space-8);
    margin-top: var(--space-12);
    padding-top: var(--space-6);
    border-top: 1px solid var(--border-white-10);
}

.hero__stats-item{
    display: flex;
    flex-direction: column;
}

/* ==================== BOOKING FORM ==================== */
.booking{
    margin-inline: auto;
    width: 100%;
    z-index: var(--z-sticky);
    margin-top: var(--space-10);
    margin-bottom: var(--space-20);
}

.booking__inner{
    width: 100%;
}

.booking__form{
    background-color: var(--surface-dark);
    padding: var(--space-4);
    border-radius: var(--radius-2xl);
    border: 1px solid var(--white-10);
    margin-inline: auto;  
    max-width: var(--container-max-width-lg);
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__group{
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    padding-inline: var(--space-4);
}

.form__group:nth-child(1){
    padding-left: 0;
}

.form__group:nth-child(2){
    border-left: 1px solid var(--white-10);
    border-right: 1px solid var(--white-10);
}