*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img, svg {
    display: block;
    max-width: 100%;    
}

input, button, textarea, select {
    background: none;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
}